<div class="header">
    <h1>Owner Management</h1>
    <div class="header-right">
      <a href="/Menu" class="icon-button"><i class="pi pi-home"></i></a>
      <a href="/Add_owner" class="icon-button"><i class="pi pi-plus-circle"></i></a>
    </div>
</div>
<main>
    <section class="filter">
      <h3>Filter</h3>
      <div class="search-box">
        <input type="text" class="input-search" name="filterInput" placeholder="Search Vehicles..." [(ngModel)]="searchQuery" (keyup)="search()">
        <button type="button" class="search-button"><i class="fas fa-search"></i></button>
      </div>
    </section>
    <section class="vehicle-list">
      <div class="table-container">
        <table>
          <thead>
            <tr>
                <th>Owner Name</th>
                <th>Phone Number</th>
                <th>Bank</th>
                <th>Account Number</th>
                <th>PAN</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let owner of getDisplayedVehicles(); let i = index; trackBy: trackByFn">
                <td>{{owner.Name}}</td>
                <td>{{owner.PhoneNumber}}</td>
                <td>{{owner.BankName}}</td>
                <td>{{owner.BankAccount}}</td>
                <td>{{owner.PAN}}</td>
                <td><a type="button"  routerLink="/Add_owner/{{owner.OwnerNo}}"><i class="fas fa-edit"></i></a></td>
                <td><a href="javascript:void(0)" (click) = "delete(owner.OwnerNo)"><i class="fas fa-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <button *ngFor="let page of totalPages()" (click)="onPageChange(page)" [class.active]="page === currentPage">{{ page }}</button>
      </div>
    </section>
</main>
<footer>
  <p>&copy; 2024 Owner Management System</p>
</footer>