<header>
    <div class="header-content">
        <h1>Add City</h1>
        <div class="header-buttons">
            <a href="/AdminMenu"><button pButton class="header-button" icon="pi pi-home" label="Home">Home</button></a>
            <a href="/city_details"><button pButton class="header-button" icon="pi pi-info" label="City Details">City Details</button></a>
        </div>
    </div>
</header>
<div class="container">
    <form class="form-content" (ngSubmit)="Save()">
        <div class="input-group">
            <div class="dropdown-container">
                <span class="placeholder" *ngIf="!city.StateNo">Select State</span>
                <select name="drop" [(ngModel)]="city.StateNo">
                  <option *ngFor="let state of statesList" [value]="state.StateNo">
                    {{ state.state }}
                  </option>
                </select>
              </div>
            <input type="text" [(ngModel)]="city.CityName" name="cityname" placeholder="Enter text">
        </div>
        <div class="form-buttons">
            <button type="submit" class="form-button">Save</button>
            <button type="button" class="form-button" (click)="update()">Update</button>
        </div>
    </form>
</div>