body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    max-width: 100vw; /* Set maximum width to 100% of the viewport width */
    margin: 0 auto; /* Center the container horizontally */
}

.menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px; /* Increase padding for bigger size */
    border-radius: 10px;
    width: 90vw; /* Set width to 90% of the viewport width */
    height: auto; /* Adjust height as needed */
    max-width: 800px; /* Limit maximum width to 800 pixels */
    max-height: 90vh; /* Limit maximum height to 90% of the viewport height */
}

.background-img {
    width: 100%; /* Adjust according to your image */
    height: auto; /* Adjust according to your image */
}

input[type="text"] {
    width: 200px; /* Adjust width as needed */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 60px;
}

input[type="submit"]:hover {
    background-color: #87CEFA; /* Light blue color when hovered */
}

.menu {
    position: relative;
    max-width: 10000px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.home-icon {
    position: absolute;
    top: 10px;
    right: 35px;
}

/* .add_circle {
    position: absolute;
    top: 10px;
    right: 5px;
} */