<div class="dashboard-login">
  <header class="dashboard-header">
    <h1>Administration Login</h1>
  </header>
  <div class="login-container">
    <form>
      <label for="admin-username">Username:</label>
      <input type="text" id="admin-username" name="admin-username" placeholder="Enter your username" required>
      <label for="admin-password">Password:</label>
      <input type="password" id="admin-password" name="admin-password" placeholder="Enter your password" required>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
 