  <header class="header">
    <h1>Add Reservation</h1>
    <nav class="nav-buttons">
      <a href="/Menu"><button class="button-1" role="button"><i class="fas fa-home"></i> Home</button></a>
      <a href="/Reservation_Details"><button class="nav-buttons" type="button"><i class="fas fa-info-circle"></i> Reservation Details</button></a>
    </nav>
  </header>

  <main class="main">
    <div class="form-container">
      <form [formGroup]="reservationForm">
        <fieldset class="fieldset">
          <legend>Rental Details</legend>
          <div hidden>
            <div class="form-group">
              <input type="hidden" id="RentalNo" formControlName="RentalNo">
            </div>
          </div>
          <div class="horizontal-fields">
            <div class="form-group">
              <label for="CustomerName">Customer Name:</label>
              <select name="CustomerName" formControlName="CustomerName">
                <option value="" selected disabled>Select Customer Name</option>
                <option *ngFor="let Customer of CustomerList" [value]="Customer.CustomerNo">{{ Customer.Name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="RegistrationNo">Registration No:</label>
              <input type="text" id="RegistrationNo" formControlName="RegistrationNo" >
            </div>
            <div class="form-group">
              <label for="Status">Status:</label>
              <input type="text" id="Status" formControlName="Status">
            </div>
          </div>
          <div class="horizontal-fields">
            <div class="form-group">
              <label for="Driver">Driver:</label>
              <select name="Driver" formControlName="Driver">
                <option value="" selected disabled>Select Driver</option>
                <option *ngFor="let driver of DriverList" [value]="driver.DriverNo">{{ driver.DriverName }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Employee">Employee:</label>
              <select name="Employee" formControlName="Employee">
                <option value="" selected disabled>Select Employee</option>
                <option *ngFor="let employee of EmployeeList" [value]="employee.EmployeeNo">{{ employee.EmployeeName }}</option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset class="fieldset">
          <legend>Reservation Details</legend>
          <div class="horizontal-fields">
            <div class="form-group">
              <label for="Reservation_Date">Reservation Date:</label>
              <input type="text" id="Reservation_Date" formControlName="Reservation_Date" placeholder="mm/dd/yyyy">
            </div>
            <div class="form-group">
              <label for="Rate">Rate:</label>
              <input type="text" id="Rate" formControlName="Rate">
            </div>
            <div class="form-group">
              <label for="Amount">Amount:</label>
              <input type="text" id="Amount" formControlName="Amount">
            </div>
          </div>
          <div class="horizontal-fields">
            <div class="form-group">
              <label for="No_of_days">No of days:</label>
              <input type="text" id="No_of_days" formControlName="No_of_days">
            </div>
            <div class="form-group">
              <label for="Start_date">Start Date:</label>
              <input type="text" id="Start_date" formControlName="Start_date" placeholder="mm/dd/yyyy">
            </div>
            <div class="form-group">
              <label for="End_date">End Date:</label>
              <input type="text" id="End_date" formControlName="End_date" placeholder="mm/dd/yyyy">
            </div>
          </div>
          <div class="horizontal-fields">
            <div class="form-group">
              <label for="Source">Source:</label>
              <input type="text" id="Source" formControlName="Source">
            </div>
            <div class="form-group">
              <label for="Destination">Destination:</label>
              <input type="text" id="Destination" formControlName="Destination">
            </div>
          </div>
        </fieldset>
        <div class="form-actions"> 

          <button type="button" [disabled]="!reservationForm.valid" (click)="Update()"aria-label="Submit Reservation">Update</button>
          <button type="button" (click)="onClear()" aria-label="Clear Form">Clear</button>
        </div>
      </form>
    </div>
  </main>
