<!-- <div class="container">
  <img src="../assets/images/A.jpg" alt="Background Image" class="background-img">
  <div class="menu-container">
      <div class="menu">
          <h3>𝕍𝕖𝕙𝕚𝕔𝕝𝕖 𝕄𝕒𝕜𝕖 𝔻𝕖𝕥𝕒𝕚𝕝𝕤</h3>
          <hr><h3>Add Vehicle Make</h3>
          <div class="Add_vehicle_Make">
              <form (ngSubmit)="Save()" class="mb-3" style="margin-top: 2%;">
                  <div class="form-group">
                      <a href="#" class="home-icon"> <mat-icon>home</mat-icon></a> 
                      <label for="Add_vehicle_Make"><h5>Make</h5></label>
                      <input type="text" [(ngModel)]="vehiclemake.Name" id="Save" name="Save" min="1" max="5" class="curved-textbox">

                  </div>
                  <button (click)="update()" class="btn btn-success" style="margin-top: 2%;">update</button>
                  <button type="submit" class="btn btn-primary" style="margin-top: 2%;">Save</button>
              </form>
              <button (click)="Clear()" class="btn btn-success">Clear</button>
          </div>
      </div>
  </div>
</div> -->
<header>
    <div class="header-content">
        <h1>Add Vehicle Make</h1>
        <div class="header-buttons">
            <a href="#"><button pButton class="header-button" icon="pi pi-home" label="Home">Home</button></a>
            <a href="/vehicle_make_details"><button pButton class="header-button" icon="pi pi-info" label="Vehicle Make Details">Vehicle Make Details</button></a>
        </div>
    </div>
</header>
<div class="container">
    <form class="form-content" (ngSubmit)="Save()">
        <div class="input-group">
            <input type="text" [(ngModel)]="vehiclemake.Name" name="vehiclemakeName" placeholder="Enter text">
            <button type="button" class="clear-button" (click)="clearInput()">&times;</button>
        </div>
        <div class="form-buttons">
            <button type="submit" class="form-button">Save</button>
            <button type="button" class="form-button" (click)="update()">Update</button>
        </div>
    </form>
</div>