<!-- <div class="container">
    <img src="../assets/images/R.jpeg" alt="Background Image" class="background-img">
    <div class="menu-container">
        <div class="menu">
            <h1>Vehicle Management</h1>
            <hr>
            <h3>Filter</h3>
            <input type="text" name="Add"> 
            <input type="submit" value="Search" onclick="search()"> 
            <a href="#" class="home-icon"><mat-icon>home</mat-icon></a> 
            <a href="/Add_vehicle_Make" class="add_circle"><mat-icon>add_circle</mat-icon></a>
            <div>
                <table class="table">
                    @for (vehicle of vehiclesList; track vehicle.MakeNo) {
                        <tr>
                            <td>{{vehicle.Name}}</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
 -->


 <div class="container">
    <img src="../assets/images/R.jpeg" alt="Background Image" class="background-img">
    <div class="menu-container">
        <div class="menu">
            <h1>Vehicle Management</h1>
            <hr>
            <h3>Filter</h3>
            <input type="text" name="Add"> 
            <input type="submit" value="Search"/> 
            <div>
                <table class="table">
                    @for (vehicle of vehiclesList; track vehicle.makeNo) {
                        <tr>
                            <td>{{vehicle.name}}</td>
                            <td><a class="nav-link " routerLink="/Add_vehicle_Make/{{vehicle.makeNo}}">Edit</a></td>
                        </tr>
                    }
                </table>
            </div>
            <a href="#" class="home-icon"><mat-icon>home</mat-icon></a> 
            <a href="/Add_vehicle_Make" class="add_circle"><mat-icon>add_circle</mat-icon></a>
        </div>
        
    </div>
</div>>