<div class="header">
  <h1 class="header-title">Vehicle Make Management</h1>
    <div class="header-right">
      <a routerLink="/AdminMenu" class="icon-button"><i class="pi pi-home"></i></a>
      <a routerLink="/Add_vehicle_Make" class="icon-button"><i class="pi pi-plus-circle"></i></a>
    </div>
</div>
  <main>
    <section class="filter">
      <h2>Filter</h2>
      <div class="search-box">
        <input type="text" class="input-search" name="filterInput" placeholder="Search Vehicle Makes..." [(ngModel)]="searchQuery" (keyup)="search()">
        <button type="button" class="search-button"><i class="fas fa-search"></i></button>
      </div>
    </section>
    <section class="vehicle-list">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Vehicle Make</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vehicle of getDisplayedMakes()">
              <td>{{ vehicle.Name }}</td>
              <td><a routerLink="/Add_vehicle_Make/{{ vehicle.MakeNo }}"><i class="fas fa-edit"></i></a></td>
              <td><a href="javascript:void(0)" (click)="delete(vehicle.MakeNo)"><i class="fas fa-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <button *ngFor="let page of totalPages()" (click)="onPageChange(page)" [class.active]="page === currentPage">{{ page }}</button>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Vehicle Management System</p>
  </footer>
  