<header class="header">
  <h1>Add Driver</h1>

  <nav class="nav-buttons">
    <a href="#"><button class="button-1" role="button"><i class="fas fa-home"></i> Home</button></a>
    <a href="/Driver_Details"><button class="nav-buttons" type="button"><i class="fas fa-info-circle"></i> Driver Details</button></a>
  </nav>
</header>

<main class="main">
  <div class="form-container">
    <form [formGroup]="driverForm" (ngSubmit)="onSubmit()">
      <fieldset class="fieldset">
        <legend>Driver Information</legend>
        <div class="horizontal-fields">

          <div class="form-group">
            <label for="driverName">Driver Name:</label>
            <input type="text" id="driverName" [(ngModel)]="driver.DriverName" formControlName="driverName" placeholder="Enter the name of the Driver">
            <div *ngIf="driverForm.get('driverName')?.invalid && (driverForm.get('driverName')?.dirty || driverForm.get('driverName')?.touched)" class="warning">Driver name is required.</div>
          </div>

          <div class="form-group">
          <label for="licenceNumber">Licence Number:</label>
          <input type="text" id="licenceNumber" [(ngModel)]="driver.LicenceNo" formControlName="licenceNumber" placeholder="Enter Licence Number">
          <div *ngIf="driverForm.get('licenceNumber')?.touched && driverForm.get('licenceNumber')?.invalid" class="warning">
            <div *ngIf="driverForm.get('licenceNumber')?.errors?.['required']">Please enter an email address</div>
            <div *ngIf="driverForm.get('licenceNumber')?.errors?.['email']">Please enter a valid email address</div>
          </div>
          </div> 

        </div>

      </fieldset>

      <fieldset class="fieldset">
        <legend>Address Details</legend>
        <div class="form-group">

          <label for="address">Address:</label>
          <textarea id="address" [(ngModel)]="driver.AddressLine1" formControlName="address" placeholder="Enter Address"></textarea>
          <div *ngIf="driverForm.get('address')?.invalid && (driverForm.get('address')?.dirty || driverForm.get('address')?.touched)" class="warning">Address is required.</div>

        </div>

        <div class="col-1">
          <div class="form-group">
            <label for="address2">Address Line 2</label>
            <input pInputText id="address2" [(ngModel)]="driver.AddressLine2"formControlName="address2" placeholder="address2">
            <div *ngIf="driverForm.get('address2')?.invalid && (driverForm.get('address2')?.dirty || driverForm.get('address2')?.touched)" class="warning">Address is required.</div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">  
            <label for="country">Country</label>
            <select formControlName="country" [(ngModel)]="country.CountryNo">
              <option value="" selected disabled>Select Country</option>
              <option *ngFor="let country of CountryList" [value]="country.CountryNo">{{ country.Country }}</option>
            </select>
          </div>  
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="state">State</label>
            <select formControlName="state" [(ngModel)]="state.StateNo">
              <option value="" selected disabled>Select State</option>
              <option *ngFor="let state of StatesList" [value]="state.StateNo">{{ state.state }}</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="city">City</label>
            <select formControlName="city" [(ngModel)]="city.CityNo">
              <option value="" selected disabled>Select City</option>
              <option *ngFor="let city of CitiesList" [value]="city.CityNo">{{ city.CityName }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="pincode">Pincode</label>
          <input pInputText id="pincode" [(ngModel)]="driver.PinCode" formControlName="pincode" placeholder="Enter pincode">
          <div *ngIf="driverForm.get('pincode')?.invalid && (driverForm.get('pincode')?.dirty || driverForm.get('pincode')?.touched)" class="warning">Pincode is required.</div>
        </div>
      

      <fieldset class="fieldset">
        <legend>Contact Information</legend>
        <div class="horizontal-fields">

          <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" [(ngModel)]="driver.PhoneNo" formControlName="phoneNumber" placeholder="Phone Number">
                <div *ngIf="driverForm.get('phoneNumber')?.touched && driverForm.get('phoneNumber')?.invalid" class="warning">
                  <div *ngIf="driverForm.get('phoneNumber')?.errors?.['required']">Please enter a phone number</div>
                  <div *ngIf="driverForm.get('phoneNumber')?.errors?.['pattern']">Please enter digits only</div>
                  <div *ngIf="driverForm.get('phoneNumber')?.errors?.['maxLength']">Entered phone number is not 10 digits</div>
              </div>
          </div>

          <div class="form-group">
            <label for="mobileNumber">Mobile Number:</label>
            <input type="tel" id="mobileNumber" [(ngModel)]="driver.MobileNo" formControlName="mobileNumber" placeholder="Mobile Number">
              <div *ngIf="driverForm.get('mobileNumber')?.touched && driverForm.get('mobileNumber')?.invalid" class="warning">
                <div *ngIf="driverForm.get('mobileNumber')?.errors?.['required']">Please enter a Mobile number</div>
                <div *ngIf="driverForm.get('mobileNumber')?.errors?.['pattern']">Please enter a valid Mobile number</div>
              </div>
          </div>

        </div>
      </fieldset>

      <fieldset class="fieldset">
        <legend>Bank Details</legend>
      <div class="horizontal-fields">

        <div class="form-group">
          <label for="bankName">Bank Name:</label>
          <input type="text" id="bankName" [(ngModel)]="driver.BankName" formControlName="bankName" placeholder="Bank Name">
          <div *ngIf="driverForm.get('bankName')?.touched && driverForm.get('bankName')?.invalid" class="warning">
            <div *ngIf="driverForm.get('bankName')?.errors?.['required']">Please enter a bank name</div>
            <div *ngIf="driverForm.get('bankName')?.errors?.['pattern']">Bank name must be between 3 and 50 characters long and can only include letters, spaces, hyphens, and apostrophes</div>
          </div>
        </div>

        <div class="form-group">
          <label for="accountNumber">Account Number:</label>
          <input type="text" id="accountNumber" [(ngModel)]="driver.BankAccount" formControlName="accountNumber" placeholder="Account Number">
            <div *ngIf="driverForm.get('accountNumber')?.touched && driverForm.get('accountNumber')?.invalid" class="warning">
              <div *ngIf="driverForm.get('accountNumber')?.errors?.['required']">Please enter a bank account number</div>
              <div *ngIf="driverForm.get('accountNumber')?.errors?.['pattern']">Bank account number must be 9 to 18 digits long</div>
            </div>
        </div>

        <div class="form-group">
          <label for="Pan">PAN:</label>
          <input type="text" id="pan" [(ngModel)]="driver.PAN" formControlName="pan" placeholder="PAN">
          <div *ngIf="driverForm.get('pan')?.invalid && (driverForm.get('pan')?.touched)" class="warning">
          <div *ngIf="driverForm.get('pan')?.errors?.['required']">Please enter a PAN number</div>
          <div *ngIf="driverForm.get('pan')?.errors?.['pattern']">PAN number must be in the format AAAAA9999A</div>
        </div>
        </div>

      </div>
      </fieldset>

      <div class="form-actions">

        <button type="submit" class="button-1">
          <i class="fas fa-check"></i> Submit
        </button>

        <button type="button" class="button-red" (click)="onClear()">
          <i class="fas fa-times"></i> Clear
        </button>

        <button type="button" class="button-blue"  (click)="UpDateDriver()">
          <i class="fas fa-edit"></i> Update
        </button>

      </div>
    
  
