<header>
    <div class="header-content">
        <h1>Add Vehicle Model</h1>
        <div class="header-buttons">
            <a href="/AdminMenu"><button pButton class="header-button" icon="pi pi-home" label="Home">Home</button></a>
            <a href="/vehicle_model_details"><button pButton class="header-button" icon="pi pi-info" label="Vehicle Model Details">Vehicle Model Details</button></a>
        </div>
    </div>
</header>
<div class="container">
    <form class="form-content" (ngSubmit)="Save()">
        <div class="input-group">
            <div class="dropdown-container">
                <span class="placeholder" *ngIf="!vehiclemodel.MakeNo">Select Make</span>
                <select name="drop" [(ngModel)]="vehiclemodel.MakeNo">
                  <option *ngFor="let make of vehicleMakeList" [value]="make.MakeNo">
                    {{ make.Name }}
                  </option>
                </select>
              </div>
            <input type="text" [(ngModel)]="vehiclemodel.Name" name="vehiclemodelName" placeholder="Enter text">
        </div>
        <div class="form-buttons">
            <button type="submit" class="form-button">Save</button>
            <button type="button" class="form-button" (click)="update()">Update</button>
        </div>
    </form>
</div>