* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #4CAF50;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
}
.header {
  background-color: #4CAF50;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header h1 {
  font-size: 24px;
  margin: 0;
  flex: 1;
  text-align: center;
}
.header-right {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
}
.icon-button {
  margin-left: 15px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}
.main {
  padding: 20px 0;
  flex: 1;
}
.filter {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.filter h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.input-search {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.search-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.vehicle-list .table-container {
  max-height: 400px;
  overflow-y: auto;
  position: relative;
}
.vehicle-list table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.vehicle-list thead th {
  position: sticky;
  top: 0;
  background-color: #4CAF50;
  color: #fff;
  z-index: 1;
}
.vehicle-list th, .vehicle-list td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}
.vehicle-list th {
  font-size: 18px;
}
.vehicle-list td a {
  text-decoration: none;
  color: #4CAF50;
}
.vehicle-list td a i {
  font-size: 20px;
}
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.pagination button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #4CAF50;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}
.pagination button.active {
  background-color: #007bff;
  color: #fff;
}
.pagination button:hover {
  background-color: #ccc;
}
footer {
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer p {
  margin: 0;
  font-size: 14px;
}