 <header>
    <div class="header-content">
        <h1>Add State</h1>
        <div class="header-buttons">
            <a href="#"><button pButton class="header-button" icon="pi pi-home" label="Home">Home</button></a>
            <a href="/State_Detail"><button pButton class="header-button" icon="pi pi-info" label="State Details">State Details</button></a>
        </div>
    </div>
</header>
<div class="container">
    <form class="form-content" (ngSubmit)="Save()">
        <div class="input-group">
            <div class="dropdown-container">
                <span class="placeholder" *ngIf="!State.CountryNo">Select Country</span>
                <select name="drop" [(ngModel)]="State.CountryNo">
                  <option *ngFor="let country of CountryList" [value]="country.CountryNo">
                    {{ country.Country }}
                  </option>
                </select>
              </div>
            <input type="text" [(ngModel)]="State.state" name="statename" placeholder="Enter text">
        </div>
        <div class="form-buttons">
            <button type="submit" class="form-button">Save</button>
            <button type="button" class="form-button" (click)="update()">Update</button>
        </div>
    </form>
</div>