<div class="header">
  <h1>Reservation Management</h1>
  <div class="header-left">
      <a href="/Menu" class="icon-button"><i class="pi pi-home"></i></a>
      <a href="/Add_Reservation" class="icon-button"><i class="pi pi-plus-circle"></i></a>
  </div>
</div>
<main>
  <section class="filter">
      <h2>Filter</h2>
      <div class="search-box">
          <input type="text" class="input-search" name="filterInput" placeholder="Search Rental Details...">
          <button type="button" class="search-button"><i class="fas fa-search"></i></button>
      </div>
  </section>
  <section class="vehicle-list">
      <div class="table-container">
      <table>
          <thead>
              <tr>
                  <th>Reg.No.</th>
                  <th>Customer</th>
                  <th>Reservations</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rental of ReservationList;">
                <td>{{ getVehicleReg(rental.VehicleNo)}}</td>
                <td>{{ getCustomerName(rental.CustomerNo)}}</td>
                <td>{{ rental.ReservationDate | date }}</td>
                <td>{{ rental.StartDate | date }}</td>
                <td>{{ rental.EndDate | date }}</td>
                <td>{{ getSourceName(rental.SourceLocation) }}</td>
                <td>{{ getDestinationName(rental.DestinationLocation) }}</td>
                <td>{{ rental.Status }}</td>
                <td><a type="button"  routerLink="/Add_Reservation/{{rental.RentalNo}}"><i class="pi pi-pencil"></i></a></td>
                <!-- <td><a type="button" [routerLink]="['/Add_Reservation', rental.RentalNo]"><i class="pi pi-pencil"></i></a></td> -->
                <td><a href="javascript:void(0)" (click) = "delete(rental.RentalNo)"><i class="pi pi-trash"></i></a></td>
                
            </tr> 
                
                        
            
          </tbody>
      </table>
  </div>
  </section>
</main>
<footer>
  <p>&copy; 2024 Reservation Management System</p>
</footer>