<div class="header">
  <div class="header-left"></div>
  <h1 class="header-title">Vehicle Management</h1>
  <div class="header-right">
    <a href="/Menu" class="icon-button"><i class="pi pi-home"></i></a>
    <a href="/Add_Vehicle" class="icon-button"><i class="pi pi-plus-circle"></i></a>
  </div>
</div>
<main>
  <section class="filter">
    <h3>Filter</h3>
    <div class="search-box">
      <input type="text" class="input-search" name="filterInput" placeholder="Search Vehicles..." [(ngModel)]="searchQuery" (keyup)="search()">
      <button type="button" class="search-button"><i class="fas fa-search"></i></button>
    </div>
  </section>
  <section class="vehicle-list">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Reg.No</th>
            <th>Reg.State</th>
            <th>Type</th>
            <th>Model</th>
            <th>Fuel</th>
            <th>Capacity</th>
            <th>Rate</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of getDisplayedVehicles(); let i = index; trackBy: trackByFn">
            <td>{{ vehicle.RegistrationNo }}</td>
            <td>{{ getStateName(vehicle.RegistrationState) }}</td>
            <td>{{ getTypeName(vehicle.TypeNo) }}</td>
            <td>{{ getModelName(vehicle.ModelNo) }}</td>
            <td>{{ getFuelName(vehicle.FuelNo) }}</td>
            <td>{{ getCapacityName(vehicle.CapacityNo) }}</td>
            <td>{{ vehicle.DailyRate }}</td>
            <td><a type="button" routerLink="/Add_Vehicle/{{ vehicle.VehicleNo }}"><i class="fas fa-edit"></i></a></td>
            <td><a href="javascript:void(0)" (click)="delete(vehicle.VehicleNo)"><i class="fas fa-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <button *ngFor="let page of totalPages()" (click)="onPageChange(page)" [class.active]="page === currentPage">{{ page }}</button>
    </div>
  </section>
</main>
<footer>
  <p>&copy; 2024 Vehicle Management System</p>
</footer>
