<div class="add-owner-container">
  <header class="header">
    <div class="header-content">
      <div class="header-title">
        <h1>Add Owner</h1>
      </div>
      <div class="header-buttons">
        <a href="#"><button pButton class="header-button" icon="pi pi-home" label="Home"></button></a>
        <a href="Owner_details"><button pButton class="header-button" icon="pi pi-info" label="Owner Details"></button></a>
        <!-- <button pButton class="header-button" icon="pi pi-user" label="Profile"></button> -->

      </div>
    </div>
  </header>
  <div class="add-owner-form">
    <div class="scroll-wrapper">
      <p-card>
        <form [formGroup]="ownerForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <legend>Owner Details</legend>
            <div class="grid">
              <div class="col-12">
                <div class="form-group">
                  <label for="ownerName">Owner Name</label>
                  <input pInputText id="ownerName" formControlName="ownerName" placeholder="Please enter the name of the owner">
                  <div *ngIf="ownerForm.get('ownerName')?.invalid && (ownerForm.get('ownerName')?.dirty || ownerForm.get('ownerName')?.touched)" class="warning">Owner name is required.</div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Address Details</legend>
            <div class="grid">
              <div class="col-12">
                <div class="form-group">
                  <label for="addressLine1">Address Line</label>
                  <input pInputText id="addressLine1" formControlName="addressLine1" placeholder="Address Line">
                  <div *ngIf="ownerForm.get('addressLine1')?.invalid && (ownerForm.get('addressLine1')?.dirty || ownerForm.get('addressLine1')?.touched)" class="warning">Address is required.</div>

                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="country">Country</label>
                  <p-dropdown [options]="countries" formControlName="country" placeholder="Please Select"></p-dropdown>
                  <div *ngIf="ownerForm.get('country')?.invalid && (ownerForm.get('country')?.dirty || ownerForm.get('country')?.touched)" class="warning">Please Select Country Properly.</div>

                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="state">State</label>
                  <p-dropdown [options]="states" formControlName="state" placeholder="Please Select"></p-dropdown>
                  <div *ngIf="ownerForm.get('state')?.invalid && (ownerForm.get('state')?.dirty || ownerForm.get('state')?.touched)" class="warning">Please Select State Properly.</div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="city">City</label>
                  <p-dropdown [options]="cities" formControlName="city" placeholder="Please Select"></p-dropdown>
                  <div *ngIf="ownerForm.get('city')?.invalid && (ownerForm.get('city')?.dirty || ownerForm.get('city')?.touched)" class="warning">Please Select City Properly.</div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="pincode">Pincode</label>
                  <input pInputText id="pincode" formControlName="pincode" placeholder="Enter pincode">
                  <div *ngIf="ownerForm.get('pincode')?.invalid && (ownerForm.get('pincode')?.dirty || ownerForm.get('pincode')?.touched)" class="warning">Pincode is Empty.</div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Contact Details</legend>
            <div class="grid">
              <div class="col-6">
                <div class="form-group">
                  <label for="PhoneNumber">Phone Number</label>
                  <input pInputText id="phoneNumber" formControlName="phoneNumber" placeholder="Please enter the Phone Number">
                  <div *ngIf="ownerForm.get('phoneNumber')?.invalid && (ownerForm.get('phoneNumber')?.dirty || ownerForm.get('phoneNumber')?.touched)" class="warning">Please enter digits only.</div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="mobileNumber">Phone Number</label>
                  <input pInputText id="mobileNumber" formControlName="mobileNumber" placeholder="Please enter the Mobile Number">
                  <div *ngIf="ownerForm.get('mobileNumber')?.invalid && (ownerForm.get('mobileNumber')?.dirty || ownerForm.get('mobileNumber')?.touched)" class="warning">Please enter digits only.</div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Bank Details</legend>
            <div class="grid">
              <div class="col-12">
                <div class="form-group">
                  <label for="bank">Bank</label>
                  <input pInputText id="bank" formControlName="bank" placeholder="Please enter the bank name">
                  <div *ngIf="ownerForm.get('bank')?.invalid && (ownerForm.get('bank')?.dirty || ownerForm.get('bank')?.touched)" class="warning">Don't Leave Bank Name Empty.</div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="accountNumber">Account Number</label>
                  <input pInputText id="accountNumber" formControlName="accountNumber" placeholder="Please enter digits only">
                  <div *ngIf="ownerForm.get('accountNumber')?.invalid && (ownerForm.get('accountNumber')?.dirty || ownerForm.get('accountNumber')?.touched)" class="warning">Account Number should not Be Empty.</div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="pan">PAN</label>
                  <input pInputText id="pan" formControlName="pan" placeholder="Enter the PAN">
                  <div *ngIf="ownerForm.get('pan')?.invalid && (ownerForm.get('pan')?.dirty || ownerForm.get('pan')?.touched)" class="warning">PAN Number should not be Empty.</div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <button pButton type="submit" label="Save" icon="pi pi-check" class="p-mr-2"></button>
            <button pButton type="button" label="Clear" icon="pi pi-times" (click)="onClear()"></button>
            <button pButton type="button" label="Update" icon="pi pi-refresh"></button>
          </div>
        </form>
      </p-card>
    </div>
  </div>
</div>
