<div class="container">
    <img src="../assets/images/c.jpg" alt="Background Image" class="background-img">
    <div class="menu-container">
        <div class="menu">
            <link href='https://unpkg.com/css.gg@2.0.0/icons/css/menu-boxed.css' rel='stylesheet'>
            
            <a href="#"><i class="gg-menu-boxed"></i></a>
            <h1 class="menu-title">Menu</h1>
            <div class="column">
                <hr><span class="pi pi-car"></span>   𝕍𝕖𝕙𝕚𝕔𝕝𝕖 𝕄𝕒𝕟𝕒𝕘𝕖𝕞𝕖𝕟𝕥<hr>
                <a class="nav-link" href="/vehicle_make_details">1. Vehicle Make Details</a>
                <a class="nav-link" href="/vehicle_model_details">2. Vehicle Model Details</a>
                <a class="nav-link" href="/vehicle_details">3. Vehicle Details</a>
            </div>
            <div class="column">
                <hr><span class="pi pi-map-marker"></span>   𝕃𝕠𝕔𝕒𝕥𝕚𝕠𝕟 𝕄𝕒𝕟𝕒𝕘𝕖𝕞𝕖𝕟𝕥<hr>
                <a class="nav-link" href="/country_details">1. Country Details (Add)</a>
                <a class="nav-link" href="/State_Detail">2. State Details (Add)</a>
                <a class="nav-link" href="/city_details">3. City Details (Add)</a>
            </div>
            <div class="column">
                <hr><span class="pi pi-users"></span>   𝕌𝕤𝕖𝕣 𝕄𝕒𝕟𝕒𝕘𝕖𝕞𝕖𝕟𝕥 <hr>
                <a class="nav-link" href="/employee_details">1. Employee Details (Add)</a>
                <a class="nav-link" href="/customer_details">2. Customer Details</a>
            </div>
            <div class="column">
                <hr>𝔻𝕣𝕚𝕧𝕖𝕣 𝕄𝕒𝕟𝕒𝕘𝕖𝕞𝕖𝕟𝕥<hr>
                <a class="nav-link" href="/driver_details">1. Driver Details (Add)</a>
                <a class="#" href="/driver_details">.</a>

            </div>
            
            <div class="column">
                <hr>ℝ𝕖𝕤𝕖𝕣𝕧𝕒𝕥𝕚𝕠𝕟 𝕄𝕒𝕟𝕒𝕘𝕖𝕞𝕖𝕟𝕥<hr>
                <a class="nav-link" href="/reservation_details">1. Reservation Details</a>
                <a class="nav-link" href="/view_reservation_today">2. View Reservation for Today</a>
                <a class="nav-link" href="/view_reservation_tomorrow">3. View Reservation for Tomorrow</a>
            </div>
            
            <div class="column">
                <hr>𝕆𝕨𝕟𝕖𝕣 𝕄𝕒𝕟𝕒𝕘𝕖𝕞𝕖𝕟𝕥<hr>
                <a class="nav-link" href="/owner_details">1. Owner Details (Add)</a>
            </div>
        </div>
    </div>
</div>