   .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-title {
    font-size: 20px;
    font-weight: bold;
  }

  .header-icons {
    display: flex;
    align-items: center;
  }

  .header-icon-button {
    margin-left: 8px;
  }

  .header-icon-button:last-child {
    margin-right: 16px;
  }

  .sidenav-container {
    height: 100%;
  }

  .sidenav-item {
    padding: 12px 24px;
    font-size: 16px;
  }

  .sidenav-sub-item {
    padding-left: 48px;
  }


.mat-dialog-container {
  padding: 24px;
}

.dialog-content {
  text-align: center;
  padding: 24px; /* Add some padding if necessary */
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}

mat-dialog-content ul {
  list-style-type: none;
  padding: 0;
}

mat-dialog-content ul li {
  margin: 8px 0;
}

mat-dialog-content ul li a {
  text-decoration: none;
  color: inherit;
}

mat-dialog-content ul li a:hover {
  text-decoration: underline;
}


