<mat-toolbar color="primary" class="header-container">
  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="header-title">INNOV RENTAL</span>
  <span class="spacer"></span>
  <div class="header-icons">
    <button mat-icon-button class="header-icon-button" (click)="settingsClicked()">
      <mat-icon class="header-icon">settings</mat-icon>
    </button>
    <button mat-icon-button class="header-icon-button" (click)="notificationsClicked()">
      <mat-icon class="header-icon">notifications</mat-icon>
    </button>
    <button mat-icon-button class="header-icon-button" (click)="helpClicked()">
      <mat-icon class="header-icon">help</mat-icon>
    </button>
    <button mat-icon-button class="header-icon-button" (click)="profileClicked()">
      <mat-icon class="header-icon">person</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="sideNavOpened" (openedChange)="sideNavOpened = $event">
    <mat-nav-list>
      <mat-expansion-panel class="sidenav-item" *ngFor="let menuItem of menuItems">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>{{ menuItem.icon }}</mat-icon>
            {{ menuItem.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="sidenav-sub-list">
          <a mat-list-item class="sidenav-sub-item" *ngFor="let subItem of menuItem.subItems" [routerLink]="subItem.routerLink">{{ subItem.name }}</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #notificationDialog>
  <h1 mat-dialog-title>Notification</h1>
  <div mat-dialog-content>
    <p>Nothing new right now</p>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close>Close</button>
  </div>
</ng-template>

<ng-template #helpDialog>
  <h1 mat-dialog-title>Help</h1>
  <div mat-dialog-content>
    <ul>
      <li><a [routerLink]="'/feedback'">About Innov Rental</a></li>
      <li><a [routerLink]="'/community'">Whats New</a></li>
      <li><a [routerLink]="'/legal'">Help Center</a></li>
      <li><a [routerLink]="'/privacy'">Report an issue</a></li>
    </ul>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close>Close</button>
  </div>
</ng-template>
