<div class="header">
    <h1>Driver Management</h1>
    <div class="header-left">
        <a href="#" class="icon-button"><i class="pi pi-home"></i></a>
        <a href="/Add_Driver" class="icon-button"><i class="pi pi-plus-circle"></i></a>
    </div>
  </div>
  <div class="container">
    <div class="content">
        <div class="search-container">
            <h3>Filter</h3>
            <div class="search-box">
                <input type="text" class="input-search" name="filterInput"  placeholder="Type to Search...">
                <button class="btn-search"><i class="pi pi-search"></i></button>
            </div>
        </div>
        <div class="table-container">
            <table class="table">
              <tbody>
                  <tr>
                      <th>Driver</th>
                      <th>Phone Number</th>
                      <th>Bank</th>
                      <th>LicenceNo</th>
                      <th>PAN</th>
                      <th>EDIT</th>
                      <th>DELETE</th>
                  </tr>
                @if(filteredDriverList)
                {
                    @for (driver of filteredDriverList; track driver.DriverNo) {
                        <tr>
                            <td>{{driver.DriverName}}</td>
                            <td>{{driver.PhoneNo}}</td>
                            <td>{{driver.BankName}}</td>
                            <td>{{driver.LicenceNo}}</td>
                            <td>{{driver.PAN}}</td>
                            <td><a type="button" routerLink="/Add_Driver/{{driver.DriverNo}}"><i class="pi pi-pencil"></i></a></td>
                            <td><a href="javascript:void(0)" (click)="delete(driver.DriverNo)"><i class="pi pi-trash"></i></a></td>
                              
                        </tr>
                    } 
                }
                @else
                {     
                    @for (driver of driverList; track driver.DriverNo) {
                        <tr>
                            <td>{{driver.DriverName}}</td>
                            <td>{{driver.PhoneNo}}</td>
                            <td>{{driver.BankName}}</td>
                            <td>{{driver.LicenceNo}}</td>
                            <td>{{driver.PAN}}</td>
                          
  
                            <td><a type="button"  routerLink="/Add_Driver/{{driver.DriverNo}}"><i class="pi pi-pencil"></i></a></td>
                            <td><a href="javascript:void(0)" (click) = "delete(driver.DriverNo)"><i class="pi pi-trash"></i></a></td>
                        </tr>
                    }
                }
              </tbody>
            </table>
        </div>
    </div>
  </div>
  