<div class="header">
    <h1>Employee Management</h1>
    <div class="header-right">
      <a href="/AdminMenu" class="icon-button"><i class="pi pi-home"></i></a>
      <a href="/Add_employee" class="icon-button"><i class="pi pi-plus-circle"></i></a>
    </div>
</div>
<main>
    <section class="filter">
      <h3>Filter</h3>
      <div class="search-box">
        <input type="text" class="input-search" name="filterInput" placeholder="Search Vehicles..." [(ngModel)]="searchQuery" (keyup)="search()">
        <button type="button" class="search-button"><i class="fas fa-search"></i></button>
      </div>
    </section>
    <section class="vehicle-list">
      <div class="table-container">
        <table>
          <thead>
            <tr>
                <th>Employee Name</th>
                <th>Employee Type</th>
                <th>Mobile Number</th>
                <th>Email</th>
                <th>Username</th>
                <th>Bank</th>
                <th>A/C Number</th>
                <th>PAN</th>
                <th>Edit</th>
                <th>Delete</th>
                
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of getDisplayedEmployee(); let i = index; trackBy: trackByFn">

                <td>{{emp.EmployeeName}}</td>
                <td>{{emp.employeetypes?.Type}}</td>
                <td>{{emp.MobileNo}}</td>
                <td>{{emp.EmailAddress}}</td>
                <td>{{emp.UserName}}</td>
                <td>{{emp.BankName}}</td>
                <td>{{emp.BankAccount}}</td>
                <td>{{emp.PAN}}</td>
                <td><a type="button" routerLink="/Add_employee/{{emp.EmployeeNo}}"><i class=" fas fa-edit"></i> </a></td>
                <td><a href="javascript:void(0)" (click) = "delete(emp.EmployeeNo)"><i class="fas fa-trash"></i></a></td>

                
            </tr>
        </tbody>
        </table>
      </div>
      <div class="pagination">
        <button *ngFor="let page of totalPages()" (click)="onPageChange(page)" [class.active]="page === currentPage">{{ page }}</button>
      </div>
    </section>
</main>
<footer>
  <p>&copy; 2024 Employee Management System</p>
</footer>