<div class="header">
  <h1>Employee Details</h1>
  <div class="header-left">
      <a href="#" class="icon-button"><i class="pi pi-home"></i></a>
      <a href="/Add_employee" class="icon-button"><i class="pi pi-plus-circle"></i></a>
  </div>
</div>
<div class="container">
  <div class="content">
      <div class="search-container">
          <h3>Filter</h3>
          <div class="search-box">
              <input type="text" class="input-search" name="filterInput"  placeholder="Type to Search...">
              <button class="btn-search"><i class="pi pi-search"></i></button>
          </div>
      </div>
      <div class="table-container">
          <table class="table">
            <tbody>
                <tr>
                    <th>Employee Name</th>
                    <th>Type</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Bank</th>
                    <th>A/C Number</th>
                    <th>PAN</th>
                    
                </tr>
              <!-- @if(filteredownerList)
              {
                  @for (owner of filteredownerList; track owner.OwnerNo) {
                      <tr>
                          <td>{{owner.Name}}</td>
                          <td>{{owner.PhoneNumber}}</td>
                          <td>{{owner.BankName}}</td>
                          <td>{{owner.BankAccount}}</td>
                          <td>{{owner.PAN}}</td>
                          <td><a type="button"  routerLink="/Add_owner/{{owner.OwnerNo}}"><i class="pi pi-pencil"></i></a></td>
                          <td><a href="javascript:void(0)" (click) = "delete(owner.OwnerNo)"><i class="pi pi-trash"></i></a></td>   
                      </tr>
                  } 
              }
              @else
              {     
                    

                  @for (owner of ownerList; track owner.OwnerNo) {
                      <tr>
                          <td>{{owner.Name}}</td>
                          <td>{{owner.PhoneNumber}}</td>
                          <td>{{owner.BankName}}</td>
                          <td>{{owner.BankAccount}}</td>
                          <td>{{owner.PAN}}</td>
                        

                          <td><a type="button"  routerLink="/Add_owner/{{owner.OwnerNo}}"><i class="pi pi-pencil"></i></a></td>
                          <td><a href="javascript:void(0)" (click) = "delete(owner.OwnerNo)"><i class="pi pi-trash"></i></a></td>
                      </tr>
                  }
              } -->
            </tbody>
          </table>
      </div>
  </div>
</div>