<div class="header">
    <h1>Country Management</h1>
    <div class="header-left">
        <a href="#" class="icon-button"><i class="pi pi-home"></i></a>
        <a href="/Add_country" class="icon-button"><i class="pi pi-plus-circle"></i></a>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="search-container">
            <h3>Filter</h3>
            <div class="search-box">
                <input type="text" class="input-search" name="filterInput" [(ngModel)]="searchQuery" placeholder="Type to Search..." (keyup)="search()">
                <button class="btn-clear" *ngIf="showClearIcon" (click)="clearSearch()">
                  <i class="pi pi-times"></i> </button>
              </div>
        </div>
        <div class="table-container">
            <table class="table">
                @if(filteredcountriesList)
                {
                    @for (country of filteredcountriesList; track country.CountryNo) {
                        <tr>
                            <td>{{country.Country}}</td>
                            <td><a type="button"  routerLink="/Add_country/{{country.CountryNo}}"><i class="pi pi-user-edit"></i></a></td>
                            <td><a href="javascript:void(0)" (click) = "delete(country.CountryNo)"><i class="pi pi-trash"></i></a></td>   
                        </tr>
                    } 
                }
                @else
                {
                    @for (country of countriesList; track country.CountryNo) {
                        <tr>
                            <td>{{country.Country}}</td>
                            <td><a type="button"  routerLink="/Add_country/{{country.CountryNo}}"><i class="pi pi-user-edit"></i></a></td>
                            <td><a href="javascript:void(0)" (click) = "delete(country.CountryNo)"><i class="pi pi-trash"></i></a></td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="pagination">
            <button (click)="onPreviousPage()" [disabled]="currentPage === 1">Previous</button>
            <button *ngFor="let page of getPages()" (click)="onPageChange(page)" [class.active]="page === currentPage">
                {{ page }}
            </button>
            <button (click)="onNextPage()" [disabled]="currentPage === getTotalPages()">Next</button>
        </div>
    </div>
</div>


