<div class="header">
    <h1>Country Management</h1>
    <div class="header-left">
        <a href="#" class="icon-button"><i class="pi pi-home"></i></a>
        <a href="/Add_country" class="icon-button"><i class="pi pi-plus-circle"></i></a>
    </div>
</div>
<main>
    <section class="filter">
      <h2>Filter</h2>
      <div class="search-box">
        <input type="text" class="input-search" name="filterInput" placeholder="Search Country..." [(ngModel)]="searchQuery" (keyup)="search()">
        <button type="button" class="search-button"><i class="fas fa-search"></i></button>
      </div>
    </section>
    <section class="country-list">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Country</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of getDisplayedMakes()">
              <td>{{ country.Country }}</td>
              <td><a routerLink="/Add_country/{{ country.CountryNo }}"><i class="fas fa-edit"></i></a></td>
              <td><a href="javascript:void(0)" (click)="delete(country.CountryNo)"><i class="fas fa-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <button *ngFor="let page of totalPages()" (click)="onPageChange(page)" [class.active]="page === currentPage">{{ page }}</button>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Location Management System</p>
  </footer>

