<header class="header">
    <div class="header-title">
      <h1>Add Customer</h1>
    </div>
    <nav class="nav-buttons">
      <a href="/Menu"><button class="button-1" role="button"><i class="fas fa-home"></i> Home</button></a>
      <a href="/Customer_Details"><button class="nav-buttons" type="button"><i class="fas fa-info-circle"></i> Customer Details</button></a>
    </nav>
</header>
<main class="main">
  <div class="form-container">
        <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

          <fieldset>
            <legend>Customer Details</legend>
              <div class="horizontal-fields">
                <div class="form-group">
                  <label for="customerName">Customer Name</label>
                  <input type="text" id="customerName" [(ngModel)]="customer.Name" formControlName="customerName" placeholder="Please enter the name of the customer">
                  <div *ngIf="customerForm.get('customerName')?.invalid && (customerForm.get('customerName')?.dirty || customerForm.get('customerName')?.touched)" class="warning">Customer name is required.</div>
                </div>

                <div class="form-group">
                  <label for="emailAddress">Email Address</label>
                  <input type="email" id="emailAddress" [(ngModel)]="customer.EmailAddress" formControlName="emailAddress" placeholder="Email Address">
                  <div *ngIf="customerForm.get('emailAddress')?.invalid && (customerForm.get('emailAddress')?.dirty || customerForm.get('emailAddress')?.touched)" class="warning">Email Address is required.</div>
                </div>
              </div>
          </fieldset>

          <fieldset>
            <legend>Address Details</legend>
              <div class="horizontal-fields">
                <div class="form-group">
                  <label for="addressLine1">Address Line 1</label>
                  <input type="text" id="addressLine1" [(ngModel)]="customer.AddressLine1" formControlName="addressLine1" placeholder="Address Line 1" aria-multiline="true">
                  <div *ngIf="customerForm.get('addressLine1')?.invalid && (customerForm.get('addressLine1')?.dirty || customerForm.get('addressLine1')?.touched)" class="warning">Address is required.</div>
                </div>
              </div>
              <div class="horizontal-fields">
                <div class="form-group">
                  <label for="addressLine2">Address Line 2</label>
                  <input type="text" id="addressLine2" [(ngModel)]="customer.AddressLine2" formControlName="addressLine2" placeholder="Address Line 2">
                  <div *ngIf="customerForm.get('addressLine2')?.invalid && (customerForm.get('addressLine2')?.dirty || customerForm.get('addressLine2')?.touched)" class="warning">Address is required.</div>
                </div>
              </div>

              <div class="horizontal-fields">
                <div class="form-group">
                  <label for="country">Country</label>
                  <select formControlName="country" [(ngModel)]="country.CountryNo">
                    <option value="" selected disabled>Select Country</option>
                    <option *ngFor="let country of CountryList" [value]="country.CountryNo">{{ country.Country }}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="state">State</label>
                  <select formControlName="state" [(ngModel)]="state.StateNo">
                    <option value="" selected disabled>Select State</option>
                    <option *ngFor="let state of StatesList" [value]="state.StateNo">{{ state.state }}</option>
                  </select>
                </div>
              </div>

              <div class="horizontal-fields">
                <div class="form-group">
                  <label for="city">City</label>
                  <select formControlName="city" [(ngModel)]="city.CityNo">
                    <option value="" selected disabled>Select City</option>
                    <option *ngFor="let city of CitiesList" [value]="city.CityNo">{{ city.CityName }}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="pincode">Pincode</label>
                  <input type="text" id="pincode" [(ngModel)]="customer.PinCode" formControlName="pincode" placeholder="Enter pincode">
                  <div *ngIf="customerForm.get('pincode')?.invalid && (customerForm.get('pincode')?.dirty || customerForm.get('pincode')?.touched)" class="warning">Pincode is required.</div>
                </div>
              </div>
          </fieldset>
          
          <fieldset>
            <legend>Contact Details</legend>
            <div class="horizontal-fields">
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <input type="tel" id="phoneNumber" [(ngModel)]="customer.PhoneNo" formControlName="phoneNumber" placeholder="Please enter the Phone Number">
                  <div *ngIf="customerForm.get('phoneNumber')?.invalid && (customerForm.get('phoneNumber')?.dirty || customerForm.get('phoneNumber')?.touched)" class="warning">Please enter digits only.</div>
                </div>
              
                <div class="form-group">
                  <label for="mobileNumber">Mobile Number</label>
                  <input type="tel" id="mobileNumber" [(ngModel)]="customer.MobileNo" formControlName="mobileNumber" placeholder="Please enter the Mobile Number">
                  <div *ngIf="customerForm.get('mobileNumber')?.invalid && (customerForm.get('mobileNumber')?.dirty || customerForm.get('mobileNumber')?.touched)" class="warning">Please enter digits only.</div>
                </div>
              </div>
          </fieldset>
          
          <fieldset>
            <legend>Login Details</legend>
                <div class="horizontal-fields">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" [(ngModel)]="customer.UserName" formControlName="username" placeholder="Please enter the Username">
                    <div *ngIf="customerForm.get('username')?.invalid && (customerForm.get('username')?.dirty || customerForm.get('username')?.touched)" class="warning">Username is required</div>
                  </div>

                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" [(ngModel)]="customer.Password" formControlName="password" placeholder="Please enter the password">
                    <div *ngIf="customerForm.get('password')?.touched && customerForm.get('password')?.invalid" class="warning">
                      <div *ngIf="customerForm.get('password')?.errors?.['required']">Please enter a password</div>
                      <div *ngIf="customerForm.get('password')?.errors?.['pattern']">Password must be at least 8 characters long and include uppercase and lowercase letters, a digit, and a special character</div>
                    </div>
                  </div>
                </div>
          </fieldset>
          <div class="form-actions">
            <button pButton type="submit" label="Save" icon="pi pi-check" class="p-mr-2"></button>
            <button pButton type="button" label="Clear" icon="pi pi-times" (click)="onClear()"></button>
            <button pButton type="button" label="Update" icon="pi pi-refresh" (click)="Update()"></button>
          </div>
        </form>
</div>